/* <!--Padding between header and body--> */
header{
    left: 0;
    top: 0;
    width: 100%;
    padding-bottom: 30px;
    font-family: calibri;
}
/* <!--Giving the body a grey background--> */
body{
    font-family: calibri;
    background-color: #E8E8E8;
    padding: 40px,20px;
}


#lat_temp{
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

h3{
    font-family: calibri;
    font-weight: bold;
    padding: 20px;
}

#expl{
    text-align: justify;
    vertical-align: text-top;
    float: left;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: calibri;
    background-color: grey;
    font-weight: bold;
    color:white;
    border-top: solid #158CBA; 
    text-align-last: center;
}

.row {
    margin-right: 5px;
    margin-left: 5px;
  }
  
  